page-account-details {
    .address-note {
        width: 96px;
        margin: 1px !important;
    }
    .account-details-modal,.issued-policy-modal{
        border: 1.5px solid;
        box-shadow: 5px 10px #cfc7c7;
        margin: 10px;
    }
    .issued-policy-modal{
        margin-top: 20px;
    }
}
